.navbar {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navbar > a {
  margin-top: 0;
  font-family: inherit;
  font-weight: 600;
  display: block;
  padding: 1em 1.5em;
  color: #777;
  background-color: transparent;
  border-radius: .35em;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: var(--color-gray);
  color: black;
}

.ml--auto {
  margin-left: auto !important;
}

a.navbar--avatar {
  padding: 0;
  border-radius: 0;
}
.navbar--avatar > img {
  width: 2.2em;
  height: 2.2em;
  margin-top: 0;
  border-radius: 50%;
  object-fit: cover;
}

.is-active {
  background-color: black !important;
  color: white !important;
}
