.hide {
  display: none;
}

.topbar {
  border-width: 10px 0 0;
  border-top-style: solid;
  /*border-image: linear-gradient(139deg, #5B0A5A, #ff4b01, #c12127, #e02aff) 3; */
  border-color: #000841;
}

.content {
  display: flex;
  margin-top: 0;
}

.column__main {
  margin-top: 0;
  flex: 2;
  margin-right: 1em;
}

.column__side {
  margin-top: 0;
  flex: 1;
}

tr.is-confirmed > td {
  text-decoration: line-through;
  color: #ccc !important;
}

tr.is-confirmed:hover > td {
  text-decoration: inherit;
  color: inherit !important;
}

tr.is-pendent > td {
  background-color: rgba(253, 57, 122, .1);
  color: #fd397d;
}

tr.is-today > td {
  background-color: #FFF4DE;
  color: #FFA800;
}

tr.is-active > td {
  background-color: black !important;
  color: inherit !important;
}

.bg {
}

.bg:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  background: url(../media/bg/bg.svg) center/cover no-repeat;
  opacity:0.1;
}

input:focus {
  animation: heartbeat 1.5s linear !important;
}

@keyframes bg-input {
  from {background-color: #f3f6f9;}
  to {background-color: #e9ebec;}
}


@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }/*
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }*/
  17% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

button {
  text-decoration: underline!important;
  font-weight: 500!important;
  outline: none;
}

button:hover,
button:hover span
{
  text-decoration: none!important;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: .5s;
  text-decoration: underline !important;
}

button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 1s;
  width:1em;
  height:1em;
  border:2px solid transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.submitting, .submitting > span {
	cursor: wait!important;
}

.submitting span{
  padding-left: 25px;
}

.submitting span:after{
  opacity: 1;
  left: 0;
  border-top-color:black;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table.table tr > td,
input.textfield[list],
input.textfield[type='date'],
label[for]{
  cursor: pointer!important;
}

.c--hand {
  cursor: pointer!important;
}

.title--small {
  font-weight: 500!important;
  color: #b5b5c3;
  color: #444;
  font-size: 1em;
  line-height: 1.5;
}

.title--medium {
  font-weight: 600!important;
  font-size: 1.35em;
  color: #3f4254;
  line-height: 2;
}

.resume__bar {
  display: flex;
  flex-direction: row;
  margin-top: 0; 
}

.resume__cell {
  margin-top: 0!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1em;
  justify-content: space-between;
}

.resume__cell + .resume__cell {
  border-left: 1px solid #f3f6f9;
}

.tab {
  overflow: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin: .25em 0;
}

.tab button {
  margin-top: 0;
  display: inline-block;
  background-color: inherit;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
  border-radius:50%;
  height: 60px;
  width: 60px;
  text-decoration: none!important;
}

.tab > button + button {
  margin-left: .5em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.selected {
  background-color: #f3f6f9;
}

.form--fixed {
  position: sticky;
  top: 8em;
}

.box--flex__footer {
  display: flex;
  justify-content: end;
}

.box--flex__footer > button {
  margin-left: .5em;
}
