<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/cssura.css">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='cssura/cssura.css')}}">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>    
    <header class="appbar appbar--fixed topbar">
      <div class="appbar__container">
        <div class="mt--0">
          <img class="mt--0" src="{{url_for('static', filename='images/logo.png')}}">
        </div>
        <div class="mt--0 appbar__collapse">
          <input type="text" class="mt--0 textfield textfield--inline" placeholder="Filtrar...">
          <nav class="appbar__menu">
            <a {% if request.path == url_for('main.movimentos') %}class="is-active"{% endif %} href="{{url_for('main.movimentos')}}">Movimentos</a>
            <a {% if request.path == url_for('main.categorias') %}class="is-active"{% endif %} href="{{ url_for('main.categorias') }}">Categorias</a>
            <a {% if request.path == url_for('main.contas') %}class="is-active"{% endif %} href="{{ url_for('main.contas') }}">Contas</a>
            <a class="ml--auto" href="/"><img class="avatar--sm" src="{{url_for('static', filename='images/c.jpg')}}"></a>
          </nav>
        </div>
      </div>
    </header>
    <main class="container mt--9">
    {% block main %}
    {% endblock %}
    </main>
    <script src="{{url_for('static', filename='js/by.js')}}"></script>
    <script src="{{url_for('static', filename='js/rest.js')}}"></script>
    <script src="{{url_for('static', filename='js/movimentos.js')}}"></script>
    <script src="{{url_for('static', filename='js/categorias.js')}}"></script>
    <script src="{{url_for('static', filename='js/contas.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
