<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/cssura.css">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='cssura/cssura.css')}}">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <template id="template-row-invoice">
      <tr>
        <td><input type="checkbox" /></td>
        <td>{prev}</td>
        <td>{conf}</td>
        <td>{history}</td>
        <td class="text--right" >{value}</td>
        <td>{category}</td>
        <td>{bank}</td>
      </tr>
    </template>
    <template id="template-row-category">
      <tr class="bookmark bookmark--success">
        <td><input type="checkbox" /></td>
        <td>{desc}</td>
        <td class="text--right">{go}</td>
      </tr>
    </template>
    <template id="template-row-bank">
      <tr>
        <td><input type="checkbox" /></td>
        <td>{desc}</td>
        <td class="text--right">{value}</td>
      </tr>
    </template>
    <template id="template-row-card">
      <tr>
        <td><input type="checkbox" /></td>
        <td>{desc}</td>
        <td>{day}</td>
        <td class="text--right">{limit}</td>
        <td class="text--right">{value}</td>
      </tr>
    </template>
    <header class="appbar appbar--fixed topbar">
      <div class="appbar__container">
        <div class="mt--0">
          <img class="mt--0"i src="{{url_for('static', filename='images/logo2.png')}}">
        </div>
        <div class="mt--0 appbar__collapse">
          <input type="text" class="mt--0 textfield textfield--inline" placeholder="Filtrar...">
          <nav class="appbar__menu">
            <a {% if request.path.startswith(url_for('main.invoices')) %}class="is-active"{% endif %} href="{{url_for('main.invoices')}}">Movimentos</a>
            <a {% if request.path == url_for('main.categories') %}class="is-active"{% endif %} href="{{ url_for('main.categories') }}">Categorias</a>
            <a {% if request.path == url_for('main.banks') %}class="is-active"{% endif %} href="{{ url_for('main.banks') }}">Contas</a>
            <a {% if request.path == url_for('main.cards') %}class="is-active"{% endif %} href="{{ url_for('main.cards') }}">Cartoes</a>
            <a {% if request.path.startswith(url_for('main.resume')) %}class="is-active"{% endif %} href="{{ url_for('main.resume') }}">Relatorios</a>
            <!-- todo() - Remove inline css -->
            <a class="ml--auto" href="{{url_for('main.signout')}}">{{current_user.name}}<img class="avatar--sm" style="vertical-align: middle;margin-left:1em;" src="{{url_for('static', filename='images/c.jpg')}}"></a>
          </nav>
        </div>
      </div>
    </header>
    <main class="container mt--9">
    {% block main %}
    {% endblock %}
    </main>
    <script src="{{url_for('static', filename='js/constants.js')}}"></script>
    <script src="{{url_for('static', filename='js/util.js')}}"></script>
    <script src="{{url_for('static', filename='js/ActiveElement.js')}}"></script>
    <script src="{{url_for('static', filename='js/by.js')}}"></script>
    <script src="{{url_for('static', filename='js/rest.js')}}"></script>
    <script src="{{url_for('static', filename='js/api.js')}}"></script>
    <script src="{{url_for('static', filename='js/invoices.js')}}"></script>
    <script src="{{url_for('static', filename='js/categories.js')}}"></script>
    <script src="{{url_for('static', filename='js/banks.js')}}"></script>
    <script src="{{url_for('static', filename='js/cards.js')}}"></script>
    <script src="{{url_for('static', filename='js/resume.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
