{% extends "base.html" %}
{% block title %}Categorias{% endblock %}
{% block main %}
<h2>Categorias</h2>
<div class="content">
  <div class="column__main">
    <div class="box">
      <div class="box__body">
        <a id="btn--add" class="button button--primary" href="javascript:void(0);">Adicionar</a>
        <table class="mt--1 table table--hover td--hover">
          <thead>
            <tr>
              <th style="width:5%" scope="col">#</th>
              <th scope="col">Descricao</th>
              <th style="width:15%" class="text--right" scope="col">Meta</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column__side">
    <div class="box">
      <div class="box__header">
        <h3>Categoria</h3>
      </div>
      <div class="box__body">
        <form>
          <div>
            <label for="field--type" class="label mt--0">Tipo</label>
            <div class="mt--1" style="display:flex;">
              <label class="mt--0" style="flex:1;display:flex;align-items:center;">
                <input type="radio" checked class="mr--1" name="field--type" value="D">
                <span class="mt--0">Despesa</span>
              </label>
              <label class="mt--0" style="flex:1;display:flex;align-items:center;">
                <input type="radio" class="mr--1" name="field--type" value="R">
                <span class="mt--0">Receita</span>
              </label>
            </div>
          </div>
          <div>
            <label for="field--name" class="label mt--0">Descricao</label>
            <input id="field--id" type="hidden">
            <input id="field--name" type="text" placeholder="Habitacao" class="textfield">
          </div>
          <div>
            <label for="field--go" class="label mt--0">Meta Mensal</label>
            <input id="field--go" type="text" placeholder="1,000.00" class="textfield">
          </div>
        </form>
      </div>
      <div class="box__footer">
        <button id="btn--save" class="button button--primary">Salvar</button>
        <button id="btn--delete" class="button button--danger">Excluir</button>
        <button id="btn--reset" class="button button--light">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
