{% extends "base.html" %}
{% block title %} Wecash - Movimentos {% endblock %}
{% block main %}
<h2>Movimentos</h2>
<div class="content">
  <div class="column__main">
    <div class="box">
      <div class="box__body">
        <a id="btn-add" class="button button--primary" href="javascript:void(0);">Adicionar</a>
        <select class="textfield textfield--inline">
          <option>Janeiro</option>
          <option>Fevereiro</option>
          <option>Marco</option>
          <option>Abril</option>
          <option selected>Maio</option>
        </select>

        <select class="textfield textfield--inline">
          <option>2020</option>
        </select>

        <table class="mt--1 table table--hover td--hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" colspan="2">Data</th>
              <th scope="col">Historico</th>
              <th scope="col">Valor</th>
              <th scope="col">Categoria</th>
              <th scope="col">Conta</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column__side">
    <div class="box">
      <div class="box__header">
        <h3>Movimento</h3>
      </div>
      <div class="box__body">
        <form>
          <input type="hidden" id="field-id">
          <div class="mt--0">
            <label class="label mt--0">Historico</label>
            <input id="field--history"  type="text" placeholder="Apartamento" class="textfield">
          </div>
          <div style="display:flex;">
            <div style="flex:1;margin-right:0.5em;">
              <label class="label mt--0">Valor Previsto</label>
              <input id="field--expected-value" type="text" placeholder="350,00" class="textfield">
            </div>
            <div class="mt--0" style="flex:1;margin-left:0.5em;">
              <label class="label mt--0">Valor Confirmado</label>
              <input id="field--confirmed-value" type="text" placeholder="350,00" class="textfield">
            </div>
          </div>
          <div style="display:flex;">
            <div style="flex:1;margin-right:0.5em;">
              <label class="label mt--0">Data Prevista</label>
              <input id="field--forecast" type="text" placeholder="01/01/2020" class="textfield">
            </div>
            <div class="mt--0" style="flex:1;margin-left:0.5em;">
              <label class="label mt--0">Data Confirmada</label>
              <input id="field--confirmation" type="text" placeholder="01/01/2020" class="textfield">
            </div>
          </div>
          <div>
            <label class="label mt--0">Conta</label>
            <input id="field--bank" list="datalist--bank" type="text" placeholder="Caixa" class="textfield">
            <datalist id="datalist--bank"></datalist>
          </div>
          <div>
            <label class="label mt--0">Categoria</label>
            <input id="field--category" list="datalist--category" type="text" placeholder="Caixa" class="textfield">
            <datalist id="datalist--category"></datalist>
          </div>
        </form>
      </div>
      <div class="box__footer">
        <button id="btn--save" class="button button--primary">Salvar</button>
        <button id="btn--delete" class="button button--danger">Excluir</button>
        <button id="btn--reset" class="button button--light">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
