<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cssura-v1.1.4.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <title>Or&#231;amento Dom&#233;stico!</title>
  </head>
  <body>
    <form method="POST" action="{{url_for('main.signin')}}">
      <main class="container mt--0" style="display:flex; height:100vh; justify-content:center; align-items: center; ">
        <div class="box mt--0 p--9 pt--0">
          <img src="{{url_for('static', filename='images/logo.png')}}" style="margin-left:auto; margin-right:auto;" class="ml--4 mt--5">
          <div class="box__header">
            <h3>Cadastrar</h3>
          </div>
          <div class="box__body">
            <div>
              <label class="label mt--0">Nome</label>
              <input id="name" type="text" placeholder="joao" class="textfield">
            </div>
            <div>
              <label class="label mt--0">E-mail</label>
              <input id="email" type="text" placeholder="joao@provedor.com" class="textfield">
            </div>
            <div>
              <label class="label mt--0">Confirmar E-mail</label>
              <input id="email_reword" type="text" placeholder="joao@provedor.com" class="textfield">
            </div>
            <div>
              <label class="label mt--0">Senha</label>
              <input id="password" type="password" placeholder="******" class="textfield">
            </div>
            <div>
              <label class="label mt--0">Confirmar Senha</label>
              <input id="password_reword" type="password" placeholder="******" class="textfield">
            </div>
          </div>
          <div class="box__footer" style="text-align:center">
            <button id="submit" class="button button--primary">Cadastrar</button>
            <button class="button button--danger">Cancelar</button>
          </div>
        </div>
      </main>
    </form>
    <script src="{{url_for('static', filename='js/constants.js')}}"></script>
    <script src="{{url_for('static', filename='js/by.js')}}"></script>
    <script src="{{url_for('static', filename='js/rest.js')}}"></script>
    <script src="{{url_for('static', filename='js/api.js')}}"></script>
    <script src="{{url_for('static', filename='js/register.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
